*{
  margin: auto;
  color: #ffffff;
 /* overflow-y: hidden;*/   
}
body{
  background-color:#000000;
  color: #ffffff;
}
/*
Modal del login
*/
.modal{
--bs-modal-bg:rgb(0, 0, 0);
}
/*
Para todos los botones-close
*/
.btn-close{
  color:#ffffff

}
.btn-close:hover{
  color:#ffffff
}

section{
  background-color: #000000;
}
/*
Subtitulos
*/
.titulo,.titulo1{
 color: rgb(0, 200, 255);
}

.banner{
  width: 100%;
  height: 45rem;
  border:  #000000;
  margin: auto;
  background-size: 100% 100%;
  animation: banner 30s infinite;
}
input#staticEmail {
  color: #ffff;
}
.nav-link {
  
  --bs-nav-link-color:rgba(1, 255, 35, 0.775);
  --bs-nav-link-hover-color:rgba(18, 179, 29, 0.575);
 }
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #000000;
 }
@keyframes banner{
  0%, 20%{
    background-image: url(../img/Blood.gif);
    opacity: 0,1;
  }
  21%, 41%{
    background-image: url(../img/Harry\ Potter\ and\ the\ Chamber\ of\ Secrets-FanArt-07\,\ Vladislav\ Pantic.jpg);
    opacity: 1;
  }
  42%, 62%{
    background-image: url(../img/Darkness\,\ Alena\ Aenami.png);
    opacity: 0,1;
  }
  63%, 83%{
    background-image: url(../img/ilustracion-estilo-chino-acuarela_23-2149711070.jpg);
    opacity: 0,1;
  }
  84%, 100%{
    background-image: url(../img/para\ el\ banner.jpeg);
    opacity: 0,1;
  }
}

.w-75, .nombre{ 
  margin-top: 1rem;
  margin-left: -7rem;
}
.navbar.navbar-expand-lg.bg-light{
  background: rgb(2,0,36);
background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(252,0,0,1) 43%, rgb(1, 213, 255) 100%);
background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(252,0,0,1) 43%, rgba(0,212,255,1) 100%);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(252,0,0,1) 43%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}
i.fa-brands.fa-instagram.fa-2xl,
i.fa-brands.fa-github.fa-2xl,
i.fa-thin.fa-user-lock.fa-2xl,
i.fa-solid.fa-user-unlock.fa-2xl
{
  color: #ffffff;
}
i.fa-brands.fa-instagram.fa-2xl:hover{
  color:hotpink;
}
i.fa-solid.fa-music.fa-2xl:hover{
  color:rgba(14, 244, 14, 0.625);
}

i.fa-brands.fa-github.fa-2xl:hover{
  color: #3d506a;
}
i.fa-solid.fa-user-lock.fa-2xl:hover{
  color: #0022fd;
}
i.fa-solid.fa-user.fa-2xl:hover{
  color: #0022fd;
}
.list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color:transparent;
}
.acercaDeMi{
  font-family: 'Shadows Into Light', cursive;

}
section.Estudios{
  font-family: 'Playfair Display SC', serif;
}
section.Experiencia{
  font-family: 'Rubik Dirt', cursive;
}
.dashBoar{
  width: 100%;
  height: 150rem;
  border:  #000000;
  background-size:  100% 100%;
  animation: dashBoar 40s infinite;
}
@keyframes dashBoar{
  0%, 20%{
    background-image: url(../img/paisaje4.jpg);
    opacity: 0,1;
  }
  21%, 41%{
    background-image: url(../img/rayo.jpg);
    opacity: 1;
  }
  42%, 62%{
    background-image: url(../img/autos3.jpg);
    opacity: 0,1;
  }
  63%, 83%{
    background-image: url(../img/paisaje.jpg);
    opacity: 0,1;
  }
  84%, 100%{
    background-image: url(../img/paisaje2.jpg);
    opacity: 0,1;
  }
}